﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Подтверждение сброса пароля";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Ваш пароль был сброшен. Пожалуйста @Html.ActionLink("кликните, чтобы войти", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
