﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
	/* 
  Switch actions
*/
$('.unmask').on('click', function(){
  
  if($(this).prev('input').attr('type') == 'password')
    changeType($(this).prev('input'), 'text');
  
  else
    changeType($(this).prev('input'), 'password');
  
  return false;
});


/* 
  function from : https://gist.github.com/3559343
  Thank you bminer!
*/

function changeType(x, type) {
    if(x.prop('type') == type)
        return x; //That was easy.
    try {
        return x.prop('type', type); //Stupid IE security will not allow this
    } catch(e) {
        //Try re-creating the element (yep... this sucks)
        //jQuery has no html() method for the element, so we have to put into a div first
        var html = $("<div>").append(x.clone()).html();
        var regex = /type=(\")?([^\"\s]+)(\")?/; //matches type=text or type="text"
        //If no match, we add the type attribute to the end; otherwise, we replace
        var tmp = $(html.match(regex) == null ?
            html.replace(">", ' type="' + type + '">') :
            html.replace(regex, 'type="' + type + '"') );
        //Copy data from old element
        tmp.data('type', x.data('type') );
        var events = x.data('events');
        var cb = function(events) {
            return function() {
                //Bind all prior events
                for(i in events)
                {
                    var y = events[i];
                    for(j in y)
                        tmp.bind(i, y[j].handler);
                }
            }
        }(events);
        x.replaceWith(tmp);
        setTimeout(cb, 10); //Wait a bit to call function
        return tmp;
    }
}
</script>
<style>
	body {
  background-color: #f6f6f6;
  font-family: "Open Sans", Arial, Helvetica;
  margin-top: 50px;
  font-size: 14px;
}
div {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}
h1 {
  margin-bottom: 1.5em;
  font-size: 30px;
  color: #484548;
  font-weight: 100;
}
 h1 span {
  display:block;
  font-size: 14px;
  color: #989598;
 }
form p { position: relative; }
label { 
  position: absolute;
  left:-9999px;
  text-indent: -9999px;
}
input {
  width: 250px;
  padding: 15px 12px;
  margin-bottom: 5px;
  border: 1px solid #e5e5e5;
  border-bottom: 2px solid #ddd;
  background: #f2f2f2;
  color: #555;
}
.password + .unmask {
  position: absolute;
  right: 74px;
  top: 12px;
  text-indent: -9999px;
  width: 25px;
  height: 25px;
  background: #aaa;
  border-radius: 50%;
  cursor:pointer;
  border: none;
  -webkit-appearance:none;
}
.password + .unmask:before {
  content: "";
  position:absolute;
  top:4px; left:4px;
  width: 17px;
  height: 17px;
  background: #e3e3e3;
  z-index:1;
  border-radius: 50%;
}
.password[type="text"] + .unmask:after {
  content: "";
  position:absolute;
  top:6px; left:6px;
  width: 13px;
  height: 13px;
  background: #aaa;
  z-index:2;
  border-radius: 50%;
}
</style>
<div>

	
	<h1>Восстановление пароля <span>Вы можете увидеть введенный вами пароль</span>
	</h1>
	@*<form ng-app="HomeApp" ng-controller="restorePassCtrl" >*@
		@*<form asp-action="ResetPassword" asp-controller="ResetPassword"  method="POST" asp-anti-forgery="true">*@
	@using (Html.BeginForm("ResetPassword", "ResetPassword", FormMethod.Post))
	{
		@Html.AntiForgeryToken()
		<input type="hidden" value="@ViewBag.Code" placeholder="Введите новый пароль" name="code">
		<p>
			<label for="username">Ваша электронная почта</label>
			<input type="text" value="" name="email" placeholder="Введите почту" id="email">
		</p>
		<p>
			<label for="password">Ваш новый пароль</label>
			<input type="password" value="" placeholder="Введите новый пароль" name="password" id="password" class="password">
			<button class="unmask" type="button" title="Отобразить/скрыть пароль">Отобразить пароль</button>
			<button class="button" type="submit" title="Отобразить/скрыть пароль">Send</button>
		</p>
	}
	@*</form>*@
</div>

