﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>DS</title>
	
</head>
<body ng-app="HomeApp">

<!-- Page Contents-->
<div id="home" class="pusher">
	<div class="ui inverted vertical masthead center aligned segment">
		<div class="ui page dimmer">
			<div class="content">
				<div class="ui indeterminate text loader"></div>
			</div>
		</div>


		<br>
		<div  class="ui text container">

			<div class="ui bottom attached">
				<div class="ui top attached tabular menu">
					<a style="color: white" class="item active red" data-tab="first">Войти</a>
					<a style="color: white" class="item red" data-tab="second">Зарегистрироваться</a>
					<a style="color: white" class="item red" data-tab="three">Восстановить пароль</a>
				</div>
				<div id="formContent" ng-controller="SignInCtrl" class="ui  bottom attached tab segment active" data-tab="first" style="background-color: rgba(0, 0, 0, 0.32);">
					<div class="ui two column centered grid">
						<div class="column">
							<br>
							<h2 class="ui header">
								<i class="huge add user icon inverted"></i>
								<div class="ui inverted header">
									Представьтесь
									<div class="sub header">Введите данные о себе, чтобы получить доступ</div>
								</div>
							</h2>
							<div id="form0" class="ui form">
								<div class="field">
									<input ng-model="authnrData.email" type="email" name="email" id="email0" placeholder="Почта" required>
								</div>
								<div class="field">
									<input ng-model="authnrData.password" type="password" name="password" id="password0" placeholder="Пароль" required>
								</div>
								<input ng-click="signIn()" type="submit" class="ui green button" id="submit" value="Войти">
							</div>
						</div>
					</div>
				</div>

				<div ng-controller="SignUpCtrl" style="background-color: rgba(0, 0, 0, 0.32);" class="ui bottom attached tab segment" data-tab="second">
					<div ng-if="successSignUp" class="checkmark-circle">
						<div class="background"></div>
						<div class="checkmark draw"></div>
					</div>
					<div ng-if="!successSignUp" class="ui two column centered grid">
						<div class="column">
							@*<button ng-click="vksignup()" class="ui mini circular facebook icon button">
									<img class="ui mini circular image" src="https://avatanplus.com/files/resources/mid/57d993e5eb5e515729e9ba4c.png">
								</button>*@
							<br>
							<h2 class="ui header">
								<i class="huge add user icon inverted"></i>
								<div class="ui inverted header">
									Регистрация
									<div class="sub header">Заполните информацию</div>
								</div>
							</h2>
							<form id="form1" class="ui form" ng-submit="signUp()">
								<div class="field required">
									<label style="background-color: rgba(0, 0, 0, 0.32);" class="ui label inverted">Имя</label>
									<input ng-model="authnrData.firstName" type="text" name="first-name" placeholder="Имя" required>
								</div>
								<div class="field">
									<label style="background-color: rgba(0, 0, 0, 0.32);" class="ui label inverted">Фамилия</label>
									<input ng-model="authnrData.lastName" type="text" name="last-name" placeholder="Фамилия" required>
								</div>
								<div class="required field">
									<label style="background-color: rgba(0, 0, 0, 0.32);" class="ui label inverted">Почта</label>
									<input ng-model="authnrData.email" type="email" name="email" id="email" placeholder="Почта" required>
								</div>
								<div class="required field">
									<label style="background-color: rgba(0, 0, 0, 0.32);" class="ui label inverted">Пароль</label>
									<input ng-model="authnrData.password" type="password" name="password" id="password" placeholder="Пароль" required>
								</div>
								<div class="required field">
									<label style="background-color: rgba(0, 0, 0, 0.32);" class="ui label inverted">Пароль</label>
									<input ng-model="authnrData.confirmPassword" type="password" name="confirmpassword" id="confirmpassword" placeholder="Пароль" required>
								</div>
								<button class="ui green button">Начать использовать</button>

							</form>
						</div>
					</div>
				</div>

				<div ng-controller="ForgotPasswordCtrl" class="ui bottom attached tab segment" data-tab="three" style="background-color: rgba(0, 0, 0, 0.32);">
					<div class="ui two column centered grid">
						<div class="column">
							<br>
							<h2 class="ui header">
								<i class="huge add user icon inverted"></i>
								<div class="ui inverted header">
									Восстановление забытого пароля
									<div class="sub header">Введите вашу почту, которую вы указывали при регистрации в сервисе</div>
								</div>
							</h2>
							<div id="form3" class="ui form">
								<div class="field">
									<input ng-model="recoveryPasswordData.email" type="email" name="email" id="email0" placeholder="Ваша почта" required>
								</div>

								<label style="background-color: rgba(0, 0, 0, 0.32);" class="ui label inverted"> На Вашу почту {{recoveryPasswordData.email}}, будет отправленно письмо с инструкцией по восстановлению пароля.</label>
								<input ng-click="recoveryPassword()" type="submit" class="ui green button" value="Отправить письмо">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> 
						
				<div class="ui  bottom attached tab active">
  <div style="margin:  0px 10px -1.3% 0px" class="toggle">
    <input type="checkbox" id="toggle">
    <span class="button"></span>
	  <span class="simbol label"></span>
	  
				
  </div><a class="ui header blue" href="/Administrator/TermsOfUse">Прочтите и нажмите, чтобы принять пользовательское соглашение</a> 
</div>
	</div>
	<script>
		$(document).ready(function () {
			$('.ui.button').addClass('disabled');
				$('.simbol.label').text('');});
		$('#toggle').click(function() {

			if ($('.ui.button').hasClass("disabled")) {
				$('.ui.button').removeClass('disabled');
				$('.simbol.label').text('✔');
			} else {
				$('.ui.button').addClass('disabled');
				$('.simbol.label').text('');
			}

		});
	</script>

	<!--  Site info -->
	<div class="ui base">
		<p>2017</p>
	</div>
</div>
<div class="overlay"></div>
<div class="overlay_message ui floating message compact big"></div>
<style>
	@@import url(http://fonts.googleapis.com/css?family=Lato:700);

.container2 {
  text-align: center;
  position: absolute;
  margin-top: -80px;
  width: 100%;
  top: 50%;
}

.toggle {
  margin: 4px;
  display: inline-block;
}

.toggle {
  box-shadow: inset 0 0 35px 5px rgba(0, 0, 0, 0.25), inset 0 2px 1px 1px rgba(255, 255, 255, 0.9), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background: #ccd0d4;
  position: relative;
  height: 50px;
  width: 50px;
}
.toggle:before {
  box-shadow: 0 0 6.25px 3.125px #fff;
  border-radius: 42.25px;
  background: #fff;
  position: absolute;
  margin-left: -18px;
  margin-top: -18px;
  opacity: 0.2;
  content: "";
  height: 36px;
  width: 36px;
  left: 50%;
  top: 50%;
}
.toggle .button {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  filter: blur(1px);
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
  border-radius: 34.4px;
  position: absolute;
  background: #ccd0d4;
  margin-left: -17.2px;
  margin-top: -17.2px;
  display: block;
  height: 34.4px;
  width: 34.4px;
  left: 50%;
  top: 50%;
}
.toggle .label {
  transition: color 300ms ease-out;
  text-shadow: 1px 1px 3px #ccd0d4, 0 0 0 rgba(0, 0, 0, 0.8), 1px 1px 4px #fff;
  line-height: 49px;
  text-align: center;
  position: absolute;
  font-weight: 700;
  font-size: 42px;
  display: block;
  opacity: 0.9;
  height: 100%;
  width: 100%;
  color: rgba(0, 0, 0, 0.4);
}
.toggle input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.toggle input:active ~ .button {
  box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.4), inset 0 -8px 30px 1px rgba(255, 255, 255, 0.9), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 8px 25px 0 rgba(0, 0, 0, 0.4), inset 0 0 10px 1px rgba(255, 255, 255, 0.6);
}
.toggle input:active ~ .label {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.45);
}
.toggle input:checked ~ .button {
  box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.4), inset 0 -8px 25px -1px rgba(255, 255, 255, 0.9), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 8px 20px 0 rgba(0, 0, 0, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.6);
}
.toggle input:checked ~ .label {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.4);
}

</style>
@Scripts.Render("~/bundles/jquery")

	<script src="~/Scripts/angular-1.6.1.min.js" type="text/javascript"></script>
	<script src="~/Scripts/ngstorage.js" type="text/javascript"></script>
	<script src="~/Scripts/Custom/page.js" type="text/javascript"></script>
	<script src="~/Scripts/Semantic/semantic.min.js" type="text/javascript"></script>
	<script src="~/Scripts/Custom/userHelper.js" type="text/javascript"></script>
	<script src="~/Scripts/Custom/http.js" type="text/javascript"></script>
	<script src="~/Scripts/Custom/Angular/models.js"></script>
	@*<script src="https://vk.com/js/api/xd_connection.js?2"  type="text/javascript"></script>*@
	<script src="~/Scripts/Custom/Angular/Controllers/SignUp.js" type="text/javascript"></script>
	<script src="~/Scripts/Custom/Angular/Controllers/SignIn.js" type="text/javascript"></script>
	<script src="~/Scripts/Custom/initSemantic.js"></script>
	<script src="~/Scripts/Custom/custom_modals.js" type="text/javascript"></script>
	<script src="~/Scripts/Custom/Angular/Controllers/ForgotPasswordCtrl.js"></script>

	<link type="text/css" rel="stylesheet" href="~/Content/Semantic/semantic.min.css" />
	<link type="text/css" rel="stylesheet" href="~/Content/Custom/Page.css" />
	<link type="text/css" rel="stylesheet" href="~/Content/Home/SignUpSuccess.css" />
</body>

</html>
