﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />

	@Scripts.Render("~/bundles/jquery")
	<script src="~/Scripts/angular-1.6.1.min.js" type="text/javascript"></script>
	<script src="~/Scripts/ngstorage.js" type="text/javascript"></script>

	<script src="~/Scripts/Semantic/semantic.min.js" type="text/javascript"></script>
		
	<script src="~/Scripts/Custom/initSemantic.js"></script>
	<script src="~/Scripts/Custom/userHelper.js" type="text/javascript"></script>
	<script src="~/Scripts/Custom/http.js" type="text/javascript"></script>
	<link type="text/css" rel="stylesheet" href="~/Content/Semantic/semantic.min.css" />
</head>
<body>
	
				

@RenderBody()
</body>
</html>
