﻿
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Личный кабинет</title>
	@Scripts.Render("~/bundles/jquery")
	<script src="~/Scripts/angular-1.6.1.min.js" type="text/javascript"></script>
	<script src="~/Scripts/ngstorage.js" type="text/javascript"></script>
	<script src="~/Scripts/Semantic/semantic.min.js" type="text/javascript"></script>
	<script src="~/Scripts/Custom/userHelper.js" type="text/javascript"></script>
	<script src="~/Scripts/Custom/http.js" type="text/javascript"></script>
	<script src="~/Scripts/Semantic/semantic.min.js" type="text/javascript"></script>
	<script src="~/Scripts/Custom/Angular/models.js"></script>
	<script src="~/Scripts/Custom/Angular/Controllers/ClientBalans.js" type="text/javascript"></script>
	<link type="text/css" rel="stylesheet" href="~/Content/Semantic/semantic.min.css" />
	<script src="~/Scripts/Custom/custom_modals.js" type="text/javascript"></script>
	<style>
	.overlay:not(.ui){width:100%; height:100%; position:fixed; top:0; left:0; background: rgba(0,0,0,0.7); z-index:5; opacity:0; display:none;}
	.overlay_msg, .overlay_message {position: fixed !important;top: 50%;left: 50%;z-index: 6;background: #fff;border-radius: 5px;opacity: 0;text-align: center;padding: 15px;display: none;}
		.overlay_msg.dimmed{opacity:1; margin-left:-110px !important; top:40% !important; display:block;}
	</style>
</head>
<body ng-app="HomeApp">
<div ng-controller="ClientBalansCtrl" >
		
	<div class="ui secondary  menu">
		<button class="item" ng-click="showDimmerById('#resetPasswordDimmer')">Сменить пароль</button>
		<div class="right menu">
			@*<div class="item">
				<div class="ui icon input">
					<input ng-model="search.$" placeholder="Поиск" style="padding: 10px 5%; width: 85%;">
					<i class="search link icon"></i>
				</div>
			</div>*@
			<a class="ui item"  onclick="javascript:destroy_token();">
				Выйти
			</a>
		</div>
	</div>
	<div id="recoveryPasswordDimmer" class="ui page dimmer">
		<div class="content">
			<div class="ui input">
				<div class="overlay_msg dimmed ui message">
					<i class="close icon" ng-click="recoveryPassword()"></i>
					<input ng-model="recoveryPasswordData.Email" placeholder="Введите адрес Email" type="text">
					<br/><br/>
					<input type="button" ng-click="recoveryPassword()" class="ui positive button" value="Восстановить пароль">
				</div>
			</div>
		</div>
	</div>

	<div id="resetPasswordDimmer" class="ui page dimmer">
		<div class="content">
			<div class="ui input">
				<div class="overlay_msg dimmed ui message">
					<i class="close icon" ng-click="resetPassword()"></i>
					<input ng-model="resetPasswordData.OldPassword" placeholder="Введите старый пароль" type="password">
					<br/><br/>
					<input ng-model="resetPasswordData.NewPassword" placeholder="Введите новый пароль" type="password">
					<br/><br/>
					<input ng-model="resetPasswordData.ConfirmPassword" placeholder="Подтвердите новый пароль" type="password"><br/><br/>
					<input type="submit" ng-click="resetPassword()" class="ui positive button" value="Сменить пароль">
				</div>
			</div>
		</div>
	</div>

	<div class="ui grid ">
		<div class="doubling four column row">
			<div class="column">
				<div class="ui segment">

					<div class="ui cards">
						<div class="card">
							<div class="content">
								<img class="right floated mini ui image" src="http://www.iconskid.com/images/194/person-icon-flat-finance-iconset-graphicloads-194470.png">
								<div class="header">
									{{::data.FirstName}} {{::data.LastName}}
								</div>
							</div>
							@*<div class="extra content">
								<div class="ui">
									<div class="ui inverted red button" onclick="javascript:destroy_token();">Выйти</div>
								</div>
							</div>*@
						</div>
					</div>

					<h2 class="ui header">
						<i class="money icon"></i>
						<div class="content">
							На Вашем счету
							<div class="sub header">{{::data.Balance}}</div>
						</div>
					</h2>
				</div>
			</div>

			<div class="eight wide column">
				<div class="ui segment">
					<div class="ui info message">
						<i class="close icon"></i>
						<div class="header">
							Чтобы зачесление средств прошло успешно укажите в пометке к переводу вашу электронную почту, которую вы указали при регистрации
						</div>
						<div class="header">
							{{::data.Email}}
						</div>
						@*<ul class="list">
						<li>Выбе.</li>
						<li>Did you know it's been a while?</li>
					</ul>*@
					</div>

					<div ng-click="FundAcount()" class="ui inverted  green button">Пополнить счёт</div>
				</div>

				<div class="ui segment">
					<div class="header">
						Ваши напечатанные документы
					</div>

					<div id="searchObjResults" style="height: 100%; overflow: auto; padding-top: 15px !important;" class="ui vertical left overlay visible">
						<div class="ui icon input" style="padding: 0 0 0 15px !important;">
							<input ng-model="search.$" placeholder="Поиск" style="padding: 10px 5%; width: 85%;"><i class="circular search link icon"></i>
						</div>
						<table class="ui red table">
							<thead>
							<tr><th>Имя документа</th>
								<th>Количество страниц</th>
							</tr></thead><tbody>
							<tr ng-repeat="doc in docs | filter:search:strict">
								<td>{{::doc.DocumentName}} </td>
								<td>{{::doc.Pages}}</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="column">
				<div class="ui segment">
					<div class="ui vertical buttons" style="width: 100%;">
						<button class="ui button" ng-click="showDimmerById('#resetPasswordDimmer')">Сменить пароль</button><br/>
						@*<button class="ui button" ng-click="showDimmerById('#recoveryPasswordDimmer')">Восстановить пароль</button><br/>*@
					</div>


				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
