﻿
<div>
	<script src="~/Scripts/Custom/Angular/models.js"></script>
	<script src="~/Scripts/linq.js"></script>
	<script src="~/Scripts/Custom/Angular/Controllers/AdminCtrl.js" type="text/javascript"></script>
	<script src="~/Scripts/Custom/initSemantic.js"></script>
	<script src="~/Scripts/Custom/custom_modals.js" type="text/javascript"></script>

	@*<script src="~/Scripts/angular-1.6.1.min.js"></script>
		<script src="~/Scripts/ngStorage-0.3.11.min.js"></script>
		<script src="~/Scripts/jquery-1.10.2.min.js"></script>
		<script src="~/Scripts/Semantic/semantic.min.js"></script>
		<script src="~/Scripts/Custom/initSemantic.js"></script>

		<script src="~/Scripts/Custom/Angular/models.js"></script>
		<script src="~/Scripts/Custom/Angular/Controllers/AdminCtrl.js" type="text/javascript"></script>
		<script src="~/Scripts/linq.js"></script>
		<script src="~/Scripts/Custom/http.js" type="text/javascript"></script>
		<script src="~/Scripts/Custom/custom_modals.js" type="text/javascript"></script>*@
	<style>
		.overlay:not(.ui) {
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.7);
			z-index: 5;
			opacity: 0;
			display: none;
		}

		.overlay_msg, .overlay_message {
			position: fixed !important;
			top: 50%;
			left: 50%;
			z-index: 6;
			background: #fff;
			border-radius: 5px;
			opacity: 0;
			text-align: center;
			padding: 15px;
			display: none;
		}

			.overlay_msg.dimmed {
				opacity: 1;
				margin-left: -110px !important;
				top: 40% !important;
				display: block;
			}
	</style>
</div>
<div ng-app="HomeApp" ng-controller="AdminCtrl">

	<div class="ui secondary  menu">
		<button class="item" ng-click="showDimmerById('#resetPasswordDimmer')">Сменить пароль</button>
		<a class="item" href="/UsersExport/Index">Загрузить всех пользователей</a>
		<div class="right menu">
			<div class="item">
					<div class="ui icon input">
						<input ng-model="search.$" placeholder="Поиск" style="padding: 10px 5%; width: 85%;">
						<i class="search link icon"></i>
					</div>
				</div>
			<a class="ui item" onclick="javascript:destroy_token();">
				Выйти
			</a>
		</div>
	</div>

	<div class="ui vertical masthead aligned segment">
	

		<div class="ui equal width center aligned padded grid">
			
			<div id="dimerDeleteUser" class="ui red page dimmer">
				<div class="content ">
					<div class="center">
							<button ng-click="deleteUser()" class="ui red button">Удалить?</button>
					</div>
				</div>
			</div>

<div  id="dimerFundAccount" class="ui page dimmer">
					<div class="content">
						<div class="center">
								@*<i id="fundAccountIco" style="visibility: hidden;"class="notched big circle loading icon"></i>*@
							<button id="fundAccountButton" ng-click="fundAccount()" class="ui green button">Изменить баланс пользователя?</button>
						
						</div>
					</div>
				</div>
			@*<div class="ui page dimmer">
				<div class="content ">
					<div class="center">
						<div class="ui segment">
							<i id="fundAccountIco" class="notched big circle loading icon"></i>
							<button id="fundAccountButton" ng-click="fundAccount()" class="ui red basic button">Изменить баланс пользователя?</button>
						</div>
					</div>
				</div>
			</div>*@
			
			<div id="recoveryPasswordDimmer" class="ui page dimmer">
				<div class="content">
					<div class="ui input">

						<div class="overlay_msg dimmed ui message">
							<i class="close icon" ng-click="recoveryPassword()"></i>
							<input placeholder="Введите адрес Email" type="text">
							<br /><br />
							<input type="submit" ng-click="recoveryPassword()" class="ui positive button" value="Восстановить пароль">
						</div>
					</div>
				</div>
			</div>

			<div id="resetPasswordDimmer" class="ui page dimmer">
				<div class="content">
					<div class="ui input">
						<div class="overlay_msg dimmed ui message">
							<i class="close icon" ng-click="resetPassword()"></i>
							<input placeholder="Введите старый пароль" type="password">
							<br /><br />
							<input placeholder="Введите новый пароль" type="password">
							<br /><br />
							<input placeholder="Подтвердите новый пароль" type="password"><br /><br />
							<input type="submit" ng-click="resetPassword()" class="ui positive button" value="Сменить пароль">
						</div>
					</div>
				</div>
			</div>

			<div id="dimerUserMoreInfo" class="ui page dimmer">
				<div class="content ">
					<div class="center">
						<div class="ui segment">
						<div class="ui top attached tabular menu">
							<a class="active item" data-tab="first">Напечатанные документы</a>
							<a class="item" data-tab="second">Изменения баланса</a>
						</div>
						<div class="ui bottom attached active tab segment" data-tab="first">
							<table class="ui red table">
								<thead>
								<tr>
									<th>Имя документа</th>
									<th>Количество страниц</th>
								</tr>
								</thead>
								<tbody>
								<tr ng-repeat="doc in docs | filter:search:strict">
									<td>{{::doc.DocumentName}} </td>
									<td>{{::doc.Pages}}</td>
								</tr>
								</tbody>
							</table>
						</div>
						<div class="ui bottom attached tab segment" data-tab="second">
							<table class="ui red table">
								<thead>
								<tr>
									<th>Сумма</th>
									<th>Дата</th>
								</tr>
								</thead>
								<tbody>
								<tr ng-repeat="move in movements | filter:search:strict">
									<td>{{::move.Movement}} </td>
									<td>{{::move.Date}} </td>
								</tr>
								</tbody>
							</table>
						</div>

					</div>
						</div>
				</div>
			</div>

			@*<div id="dimerUserMoreInfo" class="ui page dimmer">
					<div class="content">
						<div class="ui input">
							<div class="overlay_msg dimmed ui message">
							<table class="ui red table">
								<thead>
								<tr><th>Имя документа</th>
									<th>Количество страниц</th>
								</tr></thead><tbody>
								<tr ng-repeat="doc in docs | filter:search:strict">
									<td>{{::doc.DocumentName}} </td>
									<td>{{::doc.Pages}}</td>
								</tr>
								</tbody>
							</table>
							</div>
						</div>
					</div>
				</div>*@

			<div class="column">
				<div class="ui segment">
					<h2 class="ui header">
						<i class="money icon"></i>
						<div class="content">
							На счету у {{selectedUser.FirstName}} {{selectedUser.LastName}}
							<div class="sub header">{{selectedUser.Balance}}</div>
						</div>
					</h2>

					<hr>
					<div class="ui right labeled input">
						<div class="ui label">₽</div>
						<input ng-model="Amount" type="text" placeholder="Пополнить на...">
						@*<div class="ui basic label">.00</div>*@
					</div>
					<div ng-click="showDimerFundAccount()" class="ui inverted  green button">Пополнить счёт</div>

					<div id="searchObjResults" style="height: 100%; overflow: auto; padding-top: 15px !important;" class="ui vertical left overlay visible">
						<table class="ui red table">
							<thead>
								<tr>
									<th>Имя</th>
									<th>Фамилия</th>
									<th>Почта</th>
									<th>Баланс</th>
									<th>Подробности</th>
									<th>Удалить пользователя</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-click="clickByUser(user.Email)" ng-repeat="user in users | filter:search:strict">
									<td>{{user.FirstName}} </td>
									<td>{{user.LastName}}</td>
									<td>{{user.Email}}</td>
									<td>{{user.Balance}}</td>
									<td><button class="ui primary basic button icon" ng-click="showDimerUserMoreInfo(user)" title="Посмотреть подробности">
										<i class="icon unhide"></i>
									</button></td>
									<td><button class="ui primary basic button icon" ng-click="showDimerDeleteUser(user)" title="Посмотреть подробности">
										<i class="icon remove"></i>
									</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				@*<div class="column">
						<div class="ui segment">
							<div class="ui vertical buttons" style="width: 100%;">
								<button class="ui button" ng-click="showDimmerById('#resetPasswordDimmer')">Сменить пароль</button><br/>
								<button class="ui button" ng-click="showDimmerById('#recoveryPasswordDimmer')">Восстановить пароль</button><br/>
								<button class="ui button" onclick="javascript:destroy_token();">Выход</button>
							</div>
						</div>
					</div>*@
			</div>

		</div>
	</div>
</div>