﻿
<div>
	<script src="~/Scripts/Custom/Angular/models.js"></script>
	<script src="~/Scripts/linq.js"></script>
	<script src="~/Scripts/Custom/Angular/Controllers/AdminCtrl.js" type="text/javascript"></script>
	<script src="~/Scripts/Custom/initSemantic.js"></script>
	<script src="~/Scripts/Custom/custom_modals.js" type="text/javascript"></script>
 
	
	<h2 class="ui center aligned icon header">
		<i class="circular privacy icon"></i>
		 Пользовательское соглашение о получении и обработке персональных данных

Пользовательское соглашение Настоящее Пользовательское соглашение (именуемое в дальнейшем «Пользовательское Соглашение») регулирует отношения между ООО «Стиль» (именуемом в дальнейшем «S&G AD»), являющегося правообладателем Интернет-сайта, расположенного в сети Интернет по адресу http://adsg.pro (далее - Интернет-сайт), и физическим или юридическим лицом (именуемым в дальнейшем «Пользователь») в области предоставления и обработки персональных данных Пользователя.

Предмет Пользовательского Соглашения

1.	«S&G AD» производит обработку персональных данных пользователя на условиях, являющихся предметом настоящего Пользовательского Соглашения.
Общие положения

1.	Пользовательское Соглашение вступает в силу с момента оформления Пользователем заказа на сайте http://adsg.pro; после подтверждения заказа по телефону, если Пользователь оформляет заказ по телефону.
2.	«S&G AD» сохраняет за собой право изменять настоящее Пользовательское Соглашение в любое время без какого-либо специального уведомления. Если Пользователь продолжает пользоваться услугами «S&G AD» после публикации изменений в Пользовательском Соглашении, считается, что Пользователь тем самым принимает изменения условий Пользовательского соглашения.
3.	Пользователем может быть любое дееспособное физическое лицо, способное принять и оплатить заказанный им товар в порядке и на условиях, установленных настоящим Пользовательским Соглашением, на территории Российской Федерации.
Персональные данные Пользователя

1.	Пользователь принимает решение о предоставлении своих персональных данных и дает согласие на их обработку своей волей и в своем интересе, за исключением случаев, предусмотренных частью 2 статьи 9 Федерального закона от 27.07.2006 Э 152-ФЗ «О персональных данных».
2.	Пользователь несет ответственность за предоставление персональных данных иного лица.
3.	Личные данные, вводимые Пользователем при оформлении заказа, используются для совершения торговой сделки, выполнения услуги или улучшения качества обслуживания.
4.	Основанием для ввода личных данных является оформление торговой сделки при регистрации на Интернет-сайте.
5.	«S&G AD» обязуется не передавать личные данные зарегистрированных Пользователей третьим лицам.
6.	«S&G AD» составляет за собой право в предусмотренных законом случаях передавать личные данные соответствующим службам, если это делается для защиты здоровья, жизни или свободы другого лица.
7.	«S&G AD» вправе использовать персональные данные пользователя для электронной рассылки новостей и специальных предложений Интернет-сайта, оформления и проведения торговой сделки, размещения рекламы.
Обработка персональных данных Пользователей

1.	Принятие Пользовательского соглашения осуществляется путем проставления Пользователем соответствующей отметки при оформлении торговой сделки и является согласием пользователя на обработку персональных данных.
2.	Пользователь соглашается с тем, что «S&G AD» имеет право на хранение и обработку, в том числе и автоматизированную, любой информации, относящейся к персональным данным Пользователя в соответствии с Федеральным законом от 27.07.2006 Э 152-ФЗ «О персональных данных», включая сбор, систематизацию, накопление, хранение, уточнение, использование, распространение (в том числе передачу), обезличивание, блокирование, уничтожение персональных данных, предоставленных Пользователем.
3.	Обработка персональных данных Пользователя производится путем смешанной обработки персональных данных без передачи и с передачей по внутренней сети «S&G AD», c передачей и без передачи по сети Интернет.
4.	«S&G AD» обязуется обеспечить конфиденциальность и безопасность при обработке персональных данных Пользователя.
5.	В случае отзыва Пользователем согласия на обработку персональных данных, «S&G AD» удаляет персональные данные Пользователя и не использует их в дальнейшем.
6.	В случаях, предусмотренных Федеральным законом от 27.07.2006 Э 152-ФЗ «О персональных данных», обработка персональных данных осуществляется только с согласия в письменной форме субъекта персональных данных. Письменное согласие субъекта персональных данных на обработку своих персональных данных должно включать в себя:
6.1.	фамилию, имя, отчество, адрес субъекта персональных данных, номер основного документа, удостоверяющего его личность, сведения о дате выдачи указанного документа и выдавшем его органе;
6.2.	наименование (фамилию, имя, отчество) и адрес оператора, получающего согласие субъекта персональных данных;
6.3.	цель обработки персональных данных;
6.4.	перечень персональных данных, на обработку которых дается согласие субъекта персональных данных;
6.5.	перечень действий с персональными данными, на совершение которых дается согласие, общее описание используемых оператором способов обработки персональных данных;
6.6.	срок, в течение которого действует согласие, а также порядок его отзыва.
7.	Для обработки персональных данных, содержащихся в согласии в письменной форме субъекта на обработку его персональных данных, дополнительное согласие не требуется.
8.	В случае недееспособности субъекта персональных данных согласие на обработку его персональных данных дает в письменной форме законный представитель субъекта персональных данных.
9.	В случае смерти субъекта персональных данных согласие на обработку его персональных данных дают в письменной форме наследники субъекта персональных данных, если такое согласие не было дано субъектом персональных данных при его жизни.
10.	Лицо, ответственное за организацию обработки персональных данных пользователя – генеральный директор ООО «Стиль» Гальпер Д.
11.	Лицо, осуществляющие обработку персональных данных Пользователя и имеющие доступ к ним – генеральный директор ООО «Стиль» Гальпер Д.
	</h2>

</div>