﻿* {
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

body {
  min-width: 380px;
}

.hidden.menu {
  display: none;
}

.ui.menu .active.item {
  border-bottom: 3px solid #2a9af2;
}

.button {
  background: #2a9af2;
}

.masthead {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url(https://static.pexels.com/photos/27665/pexels-photo-27665.jpg) !important;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url(https://static.pexels.com/photos/27665/pexels-photo-27665.jpg) !important;
  background-position: center  !important;
  background-size: cover !important;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4) !important;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}

.masthead .logo.item img {
  margin-right: 1em;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.masthead, h1 {
  font-family: sans-serif;
  font-size: 4em;
  font-weight: 700;
  text-transform: uppercase;
}

.box {
  padding: 4em .5em 3em .5em;
  background: #f3f4f5;
}

.contact {
  background: #262730;
  padding: 4em .5em 2em .5em;
}

h1.ui.inverted.header {
  font-family: lora;
  font-size: 5em;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.base {
  text-align: center;
  font-size: 18px;
  padding: 2.2em;
  color: #ccc;
  background: #1B1B26;
}

.tagline {
  text-align: center;
  font-size: 18px;
  padding: 1.2em;
  color: #fff;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}

.ui.vertical.stripe h3 {
  font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe p {
  font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu {
  display: none;
}

.link {
  margin-bottom: 0;
  padding-bottom: 0;
  height: auto;
  margin: auto;
  padding: .5em;
  text-align: center;
}

i.circular.icon {
  background-color: #FFF;
  margin: 10px;
  font-size: 3.2em;
  vertical-align: middle;
  cursor: pointer;
}

.icon:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.tumblr {
  color: #36465d;
}

.codepen {
  color: #333;
}

.twitter {
  color: #3CF;
}

.instagram {
  color: #3f729b;
}

@media only screen and (min-width: 700px) {
  .masthead {
    height: 100vh;
  }

  i.circular.icon {
    font-size: 3em;
  }
}
@media only screen and (max-width: 450px) {
  .masthead {
    height: 450px;
  }

  i.circular.icon {
    font-size: 3.5em;
  }

  .ui.menu.four.item .item {
    width: 25%;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
@media only screen and (max-width: 700px) {
  .ui.vertical.stripe {
    padding: 0.5em;
  }

  .masthead.segment {
    min-height: 350px;
  }

  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }

  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 780px) {
  .ui.menu.four.item .item {
    width: 25%;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

.overlay{width:100%; height:100%; position:fixed; top:0; left:0; background: rgba(0,0,0,0.7); z-index:5; opacity:0; display:none;}
.overlay_message{position:fixed !important; top:50%; left:50%;  z-index:6; background:#fff; border-radius:5px; opacity:0; text-align:center; padding:15px; display:none;}